@import 'palette';
@import 'animation';

:host {
   display: block;
   padding: 1rem;
   padding-top: calc(2rem + 2em);
}

a {
   text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
   color: inherit;
}

.nav {
   @include theme(dark);

   position: fixed;
   display: flex;
   align-items: center;
   top: 0;
   left: 0;
   right: 0;
   padding: 1rem;
}

.nav__header {
   display: block;
   flex: 1 0 auto;
   margin: 0.25rem 0;
   font-size: 2em;

   & a {
      transition: transition(all);

      &:hover,
      &:focus {
         color: get-color(white);
      }
   }
}

.nav__links {
   display: block;
   flex: 0 1 auto;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav--link {
   display: inline-block;
   padding: 0.25rem 0.5rem;
   border-radius: 0.25rem;
   font-size: 1.6em;
   font-weight: 300;
   transition: transition(all);

   &:hover,
   &:focus {
      color: get-color(white);
   }

   &.nav__link--active {
      background-color: get-color(white, $opacity: 0.2);
      box-shadow: 2px 2px 10px get-color(black, $opacity: 0.2);
   }
}
